
@{
    ViewBag.Title = "UserDashboard";
}

<div style="background-color:#214761;">
    <h2 style="margin-left:260px; color:#ffffff;">Seanslar ve doluluk durumları</h2>
</div>
<div class="col-md-offset-2 col-md-10" style="margin-bottom:20px;">

    <input type="button" value="Seans seç" class="btn btn-danger" style="width:135px" />

</div>

<table class="container" style="margin-bottom:92px;">
    <thead>
        <tr>
            <th><h1 style="color: #FB667A;">SAATLER</h1></th>
            <th><h1>Pazartesi</h1></th>
            <th><h1>Salı</h1></th>
            <th><h1>Çarşamba</h1></th>
            <th><h1>Perşembe</h1></th>
            <th><h1>Cuma</h1></th>
            <th><h1>Cumartesi</h1></th>
            <th><h1>Pazar</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08:00-10:00</td>
            <td>%50</td>
            <td>%5</td>
            <td>%0</td>
            <td>%10</td>
            <td>%20</td>
            <td>%30</td>
            <td>%40</td>
        </tr>
        <tr>
            <td>10:00-12:00</td>
            <td>%50</td>
            <td>%5</td>
            <td>%0</td>
            <td>%10</td>
            <td>%20</td>
            <td>%30</td>
            <td>%40</td>
        </tr>
        <tr>
            <td>12:00-14:00</td>
            <td>%50</td>
            <td>%5</td>
            <td>%0</td>
            <td>%10</td>
            <td>%20</td>
            <td>%30</td>
            <td>%40</td>
        </tr>
        <tr>
            <td>14:00-16:00</td>
            <td>%50</td>
            <td>%5</td>
            <td>%0</td>
            <td>%10</td>
            <td>%20</td>
            <td>%30</td>
            <td>%40</td>
        </tr>
        <tr>
            <td>16:00-18:00</td>
            <td>%50</td>
            <td>%5</td>
            <td>%0</td>
            <td>%10</td>
            <td>%20</td>
            <td>%30</td>
            <td>%40</td>
        </tr>

    </tbody>
</table>
